{% extends 'layouts/index.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="content-form">
        <div class="barra">.</div>
        <div class="form-booking">
            <h2>{{ title }}</h2>
            <h3>Reserva # {{ id }}</h3>
            {% if tour.data.status == "APPROVED" %}<p class="aproved">Aprobado</p>{% endif %}
            <hr class="sep-booking" />
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>Nombre</span>{{ booking.name }}
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>Apellido</span>{{ booking.lastname }}
                    </p>
                </div>
            </div>
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>Celular</span>{{ booking.phone }}
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>Fecha de reserva</span>{{ booking.checkin }}
                    </p>
                </div>
            </div>
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>Pais</span>{{ booking.contry }}
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>Ciudad de origen</span>{{ booking.city }}
                    </p>
                </div>
            </div>
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>Hotel</span>{{ booking.hotel }}
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>Tours</span>{{ booking.tour }}
                    </p>
                </div>
            </div>
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>Cant Adultos</span>{{ booking.adults }}
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>Cant Niños</span>{{ booking.childre }}
                    </p>
                </div>
            </div>
            <div class="box-form-booking">
                <div class="box-form-item">
                    <p>
                        <span>valor adultos</span>$ {{ booking.cash|intcomma }} COP
                    </p>
                </div>
                <div class="box-form-item">
                    <p>
                        <span>valor Total</span>$ {{ booking.total|intcomma }} COP
                    </p>
                </div>
            </div>
            <span class="congratulations">¡Gracias por su compra!</span>
            <a href="#" class="btn">Otros toures</a>
        </div>
    {% endblock content %}
