{% extends 'layouts/index.html' %}
{% block title %}
  {{ title }}
{% endblock title %}
{% load humanize %}
{% block content %}
  <div class="menu-categorias">
    <a href="{% url 'tours' %}"
       class="text-link {% if request.path == '/tours/' %}active-sub{% endif %}">Todos</a>
    <a href="{% url 'category' 2 %}"
       class="text-link {% if request.path == '/tours/categoria/2/' %}active-sub{% endif %}">Islas Privadas</a>
    <a href="{% url 'category' 1 %}"
       class="text-link {% if request.path == '/tours/categoria/1/' %}active-sub{% endif %}">Playas</a>
    <a href="{% url 'category' 4 %}"
       class="text-link {% if request.path == '/tours/categoria/4/' %}active-sub{% endif %}">City Tours</a>
  </div>
  {% if api.data.status == 'APPROVED' %}<div class="susses">Gracias por tu compra</div>{% endif %}
  <section class="tours">
    {% for tour in tours %}
      <article>
        <div class="image-tour">
          <img src="{{ tour.image1.url }}" alt="{{ tour.title }}" />
        </div>
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description|slice:":100" }} ...</p>
        <div class="foo-arti">
          <p>$ {{ tour.cash|intcomma }} COP</p>
          <a href="{% url 'check' tour.id 'tour' %}" class="btn">Reservar</a>
        </div>
        <div class="enlace-reserva">
          <a href="{% url 'tour' tour.id tour.title|slugify %}" class="text-link">Más detalles</a>
          {% comment %} <a href="{% url 'tour' tour.id %}" class="text-link">Más detalles</a> {% endcomment %}
        </div>
      </article>
    {% endfor %}
  </section>
{% endblock content %}
