{% extends 'layouts/index.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
  <div class="content">
    <div class="translate">
      {% for vehiculo in vehiculos %}
        {% if vehiculo.id|divisibleby:2 == False %}
          <article class="vehiculo">
            <div class="mask">
              <div class="galeria-v">
                <div class="col">
                  <div class="box1">
                    <a class="demo"
                       href="{{ vehiculo.image.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img class="example-image"
                           src="{{ vehiculo.image.url }}"
                           alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                  <div class="box2">
                    <a class="demo"
                       href="{{ vehiculo.image1.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img class="example-image"
                           src="{{ vehiculo.image1.url }}"
                           alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                </div>
                <div class="col">
                  <div class="box2">
                    <a class="demo"
                       href="{{ vehiculo.image2.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img class="example-image"
                           src="{{ vehiculo.image2.url }}"
                           alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                  <div class="box1">
                    <a class="demo"
                       href="{{ vehiculo.image3.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img class="example-image"
                           src="{{ vehiculo.image3.url }}"
                           alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="info-trans">
              <h3>{{ vehiculo.name }}</h3>
              <p>{{ vehiculo.description|safe }}</p>
              <a href="https://wa.link/u1462m" target='_blank' class="btn-blue">Cotizacion</a>
            </div>
          </article>
          <hr class="separador-v">
        {% else %}
          <article class="vehiculo">
            <div class="info-trans-l">
              <h3>{{ vehiculo.name }}</h3>
              <p>{{ vehiculo.description|safe }}</p>
              <a href="https://wa.link/u1462m" target='_blank' class="btn-blue">Cotizacion</a>
            </div>
            <div class="mask">
              <div class="galeria-v">
                <div class="col">
                  <div class="box1">
                    <a class="demo"
                       href="{{ vehiculo.image.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img class="example-image"
                           src="{{ vehiculo.image.url }}"
                           alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                  <div class="box2">
                    <a class="demo"
                       href="{{ vehiculo.image1.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img src="{{ vehiculo.image1.url }}" alt="{{ vehiculo.name }} " />
                    </a>
                  </div>
                </div>
                <div class="col">
                  <div class="box2">
                    <a class="demo"
                       href="{{ vehiculo.image2.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img src="{{ vehiculo.image2.url }}" alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                  <div class="box1">
                    <a class="demo"
                       href="{{ vehiculo.image3.url }}"
                       data-lightbox="{{ vehiculo.name }}">
                      <img src="{{ vehiculo.image3.url }}" alt="{{ vehiculo.name }}" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          {% if not forloop.last %}<hr class="separador-v">{% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="noticias">
      <p>
        Los recargos nocturnos aplican en los horarios de
        09:00 pm a 06:00 am
      </p>
    </div>
  </div>
{% endblock %}
