{% extends "layouts/home.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% load humanize %}
{% block content %}
  <header class="header">
    {% comment %} {/* HEADER */} {% endcomment %}
    <div class="explora">
      <div class="info-content">
        <h1>
          Cartagena <span>Inspira</span>
        </h1>
        <p>
          Descubre el encanto eterno de Cartagena , donde cada rincón guarda una historia y cada atardecer te invita a soñar.
        </p>
      </div>
    </div>
  </header>
  {% comment %} {/* CONTENT */} {/* DESTACADOS */} {% endcomment %}
  <div class="info-title">
    <div class="cont">
      <h2>Ofertas Especiales</h2>
      <span>- Reserva ahora!!</span>
    </div>
    <span>
      <a href="{% url 'tours' %}">Ver todo</a>
    </span>
  </div>
  <div class="tours">
    {% for ofert in ofertas %}
      {% for off in ofert %}
        <article>
          <div class="image-tour">
            <img src="{{ off.image1.url }}" alt="{{ off.title }}" />
          </div>
          <h3>{{ off.title }}</h3>
          <p>{{ off.description|slice:":100" }} ...</p>
          <div class="foo-arti">
            <p>$ {{ off.cash|intcomma }} COP</p>
            <a href="{% url 'check' off.id 'dinner' %}" class="btn">Reservar</a>
          </div>
          <div class="enlace-reserva">
            <a href="{% url 'tour' off.id off.title|slugify %}" class="text-link">Más detalles</a>
          </div>
        </article>
      {% endfor %}
    {% endfor %}
  </div>
  {% comment %} {/* DESCRIPTION */} {% endcomment %}
  <div class="description">
    <div class="emblema">
      <img src="{% static 'img/tourhistorico.png' %}" alt="Cartagena de Indias" />
    </div>
    <div class="info-content">
      <h2>Cartagena Inspira</h2>
      <p>
        En la agencia Transturismo Cartagena, ofrecemos servicios de transporte turístico y empresarial diseñados
        para brindar comodidad, seguridad y experiencias excepcionales en la ciudad de Cartagena.
      </p>
      <p>
        Contamos con un equipo de conductores altamente calificados y profesionales destacados en servicio al cliente, dedicados a garantizar
        un servicio seguro y confiable. Nuestro compromiso es proporcionar un transporte confortable y
        personalizado que haga de cada viaje una experiencia memorable.
      </p>
      {% comment %} <div class="enlaces-ico">
        <a href="{% url 'category' 1 %}">Playas</a>
        <a href="{% url 'category' 2 %}">Islas Privadas</a>
        <a href="{% url 'transfers' %}">Transportes</a>
        <a href="{% url 'category' 4 %}">CityTours Históricos</a>
      </div> {% endcomment %}
    </div>
  </div>
  {% comment %} {/* TOURS */} {% endcomment %}
  <div class="info-title">
    <div class="cont">
      <h2>Vive días inolvidables en paraísos caribeños</h2>
    </div>
    <span>
      <a href="{% url 'tours' %}">Ver todo</a>
    </span>
  </div>
  <section class="tours">
    {% for tour in tours %}
      <article>
        <div class="image-tour">
          <img src=" {{ tour.image1.url }}" alt="Bora Bora" />
        </div>
        <h3>{{ tour.title }}</h3>
        <p>{{ tour.description|slice:":100" }}</p>
        <div class="foo-arti">
          <p>$ {{ tour.cash|intcomma }} COP</p>
          <a href="{% url 'check' tour.id 'tour' %}" class="btn">Reservar</a>
        </div>
        <div class="enlace-reserva">
          <a href="{% url 'tour' tour.id tour.title|slugify %}" class="text-link">Más detalles</a>
        </div>
      </article>
    {% endfor %}
  </section>
  <div class="info-title">
    <div class="cont">
      <h2>Reseñas</h2>
      <span>- Mira lo que opinan nuestros clientes de nosotros</span>
    </div>
    <span>
      <a href="#">Ver todo</a>
    </span>
  </div>
  <div class="noticias">
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-82a902d2-9a30-4bf7-9035-48cef4f4bf19"
         data-elfsight-app-lazy></div>
  </div>
  {% comment %} GALLERY {% endcomment %}
  <div class="info-title">
    <div class="cont">
      <h2>Inspírate!</h2>
      <span>- Lugares emblemáticos de Cartagena</span>
    </div>
    <span>
      <a hred="#">Ver todo</a>
    </span>
  </div>
  <div class="gallery">
    <div class="col">
      <div class="box1">
        <img src="{% static 'img/gallery/1.png' %} " alt="Imagen 1" />
      </div>
      <div class="box2">
        <img src="{% static 'img/gallery/image2.png' %} " alt="Imagen 2" />
      </div>
    </div>
    <div class="col">
      <div class="box2">
        <img src="{% static 'img/gallery/3.png' %} " alt="Imagen 2" />
      </div>
      <div class="box1">
        <img src="{% static 'img/gallery/4.png' %} " alt="Imagen 1" />
      </div>
    </div>
    <div class="col">
      <div class="box1">
        <img src="{% static 'img/gallery/5.png' %} " alt="Imagen 1" />
      </div>
      <div class="box2">
        <img src="{% static 'img/gallery/image1.png' %}" alt="Imagen 2" />
      </div>
    </div>
  </div>
  <div class="incription">
    <form action="">
      <label for="">Suscríbete a nuestro boletín.</label>
      <input type="text" placeholder="Ingrese su email" />
      <input type="submit" value="Enviar" />
    </form>
  </div>
{% endblock %}
</div>
