{% extends 'layouts/index.html' %} {% block title %} {{ title }} {% endblock %}
{% load humanize %} {%block content %}

<div class="menu-categorias">
  <a href="#" class="text-link"> Todos </a>
  <a href="#" class="text-link"> Islas Privadas </a>
  <a href="#" class="text-link"> Playas </a>
  <a href="#" class="text-link"> City Tours </a>
</div>

<section class="tours">
  {% for tour in tours %}

  <article>
    <div class="image-tour">
      <img src="{{tour.image1.url}}" alt="{{tour.title}}" />
    </div>
    <h3>{{tour.title}}</h3>
    <p>{{tour.description}}</p>
    <div class="foo-arti">
      <a href="{% url 'tour' tour.id %}" class="text-link"> ver mas ... </a>
      <p>$ {{tour.cash|intcomma}} COP</p>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}
