*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
}

.info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  margin-bottom: -5px;
  margin-top: 50px;
}

.info-title h2 {
  width: 150%;
  color: #222;
  font-family: "Rubik Bold";
  font-size: 34px;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #ff8800;
}

.info-title span {
  color: #333;
  font-style: italic;
  font-size: 14px;
}

.info-title span a {
  color: #ff8800;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
}

.info-title span a:hover {
  color: #333;
}

/* .btn {
  padding: 15px 30px;
  background-color: #ff8800;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  transition: all 200ms;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #222;
} */

.header {
  background-image: url("../img/background_h.png") !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 98%;
  margin: 0px auto;
  margin-top: 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px #555;
}
.navegate-h,
.navegate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 7px #003149;
  /* padding-top: 20px;
  padding-bottom: 4px; */
  background-color: #fffffff5;
}

.navegate-h {
  box-shadow: none;
}

.navegate-h .logo,
.navegate .logo {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-left: 50px; */
}

.navegate-h .logo img,
.navegate .logo img {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.nav ul {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.nav ul li {
  padding: 5px 13px;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  /* padding: 3px 10px; */
  transition: all 200ms;
}

.nav ul li a:hover {
  color: #ff8800;
  /* border-bottom: 3px solid #ff8800; */
}

.nav ul li .active {
  color: #ff8800;
}

.main-nav {
  margin-right: 20px;
}

.button-menu {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  /* width: 150px; */
  text-decoration: none;

  color: #333;
  border: 1px solid #333;
  border-radius: 5rem;
  font-weight: bold;
  font-size: 15px;
  padding: 4px 20px;
  transition: all 200ms;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.link-item:hover {
  /* margin-top: 2rem; */
  color: #ff8800;
  border: 1px solid #ff8800;
  font-weight: bold;
}
.active {
  color: #ff8800;
  border: 1px solid #ff8800;
}

/* HEADER  */

.explora {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 100px; */
  /* margin-left: 70px; */
  height: 82vh;
  backdrop-filter: blur(2px);
  /* border: 2px solid yellowgreen; */
  width: 42%;
}

.explora .info-content {
  width: 70%;
  /* border: 2px solid #00a8ff; */
}

.explora .info-content h1 {
  font-family: "Rubik Bold";
  font-size: 45px;
  letter-spacing: 2.5px;
  color: #fff;
  text-shadow: 0px 0px 8px #000;
  text-align: left;
  text-transform: uppercase;
  line-height: 48px;
  /* margin-top: -100px;
  margin-bottom: 50px; */
}

.explora .info-content span {
  color: #ff8800;
}

.explora .info-content a {
  margin-top: 45px;
}

.explora .info-content p {
  margin-top: 12px;
  font-size: 32px;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
}

.content {
  width: 100%;
  margin: 0px auto;
}

/* DESCRIPCION GENERAL */

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0px 40px; */
  margin-top: 50px;
  margin-bottom: 80px;
}

.description .emblema {
  width: 25%;
  /* border: 1px solid red; */
}

.description .emblema img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.description .info-content {
  width: 45%;
}

.description .info-content h2 {
  font-family: "Rubik";
  font-size: 42px;
  color: #222;
  /* line-height: 30px; */
}

.description .info-content p {
  font-size: 18px;
  color: #777;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: justify;
  /* line-height: 30px; */
}

.description .info-content .enlaces-ico {
  display: flex;
  flex-wrap: wrap;
}

.description .info-content .enlaces-ico a {
  flex-basis: 40%;
  flex-grow: 1;
  margin-bottom: 10px;
  text-decoration: none;
  color: #222;
  font-family: "Rubik Bold";
  font-size: 13px;
  text-transform: uppercase;
}

.description .info-content .enlaces-ico a:hover {
  color: #ff8800;
}

/* NOTICIAS  */
.noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 120px;
  /* border: 1px solid red; */
}

.noticias p {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: center;
}
/* TOURES */

.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px 40px;
}

.tours article {
  flex-basis: 30%;
  flex-grow: 1;
  /* width: 30%; */
  height: 470px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 15px #ddd;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.tours article p {
  font-size: 13px;
  margin-left: 15px;
}

.tours .image-tour {
  width: 100%;
  height: 66%;
}

.tours .image-tour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.tours article h3 {
  display: flex;
  align-items: center;
  height: 12%;
  margin-top: 12px;
  margin-left: 15px;
  color: #222;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Rubik Bold";
}

.tours article span {
  display: block;
  margin-top: 7px;
  margin-left: 15px;
  color: #222;
  font-size: 14px;
}

/* GALERIA */

.gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.gallery .col {
  width: 28%;
}

.gallery .col .box1 {
  width: 100%;
  height: 450px;
  /* border: 1px solid red; */
  border-radius: 12px;
  margin-bottom: 30px;

  overflow: hidden;
  object-fit: cover;
  box-shadow: 0px 5px 15px #ddd;
  border: 1px solid #ddd;
}

.gallery .col .box2 {
  width: 100%;
  height: 350px;
  border: 1px solid red;
  border-radius: 12px;
  margin-bottom: 30px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0px 5px 15px #ddd;
  border: 1px solid #ddd;
}

.gallery img {
  /* width: 120%; */
  /* transition: all 500ms; */
  width: auto;
  height: 100%;
}

/* INSCRIPCION */

.incription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.incription form label {
  display: block;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 25px;
  /* letter-spacing: 2px; */
}

.incription form input[type="text"] {
  width: 300px;
  height: 70px;
  padding: 15px 25px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 2px #ddd;
}

.incription form input[type="submit"] {
  width: 100px;
  height: 70px;
  padding: 15px 25px;
  margin-left: -4px;
  border: 1px solid #00a8ff;
  background-color: #00a8ff;
  color: white;
  border-start-end-radius: 12px;
  border-end-end-radius: 12px;
  transition: all 200ms;
}

.incription form input[type="submit"]:hover {
  background-color: #003149;
  cursor: pointer;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}

.foot1,
.foot2,
.foot3,
.foot4 {
  width: 20%;
  padding: 15px;
  /* border: 1px solid red; */
}

.foot4 {
  width: 24%;
}

.foot1 .logo {
  width: 150px;
}

.foot1 .logo img {
  width: 100%;
}

.foot1 p {
  font-size: 14px;
  color: #333;
}

.foot2 h3,
.foot3 h3,
.foot4 h3 {
  margin-bottom: 15px;
}

.foot2 ul li,
.foot3 ul li,
.foot4 ul li {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.foot2 ul li a,
.foot3 ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.foot2 ul li a:hover,
.foot3 ul li a:hover {
  color: #ff8800;
}

.foot4 ul li {
  color: #333;
  font-size: 14px;
}

.autor {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}

.autor a {
  text-decoration: none;
  color: #ff8800;
  font-size: 13px;
}

.autor a:hover {
  text-decoration: none;
  color: #333;
}

.tours article .foo-arti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 15px;
}

.tours article .foo-arti p {
  font-size: 24px;
  color: #ff8800;
  font-weight: bold;
}

.tours article .enlace-reserva {
  margin-top: 15px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-link {
  text-decoration: none;
  color: #003149;
  font-size: 12px;
  padding: 6px 12px;
  transition: all 200ms;
}

.text-link:hover {
  color: #00a8ff;
}

.tours article .foo-arti .btn {
  border-radius: 14px;
  height: 30px;
}

.active-sub {
  color: #003149;
  border: 2px solid #003149;
  border-radius: 5px;
}

.menu-categorias {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 0px auto;
  margin-top: 35px;
}

.menu-categorias .text-link {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.cash {
  font-size: 20px !important;
  color: #ff8800;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 25px;
  text-align: right;
}

/* estilos de toures */

.jumbo {
  width: 80%;
  margin: 20px auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}

.info-jumbo {
  width: 40%;
}

.jumbo .mask {
  box-shadow: 0px 0px 8px #333;
}

.info-jumbo h1 {
  font-size: 32px;
}

.info-jumbo .descrip {
  display: block;
  font-family: "Montserrat";
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cash-tour {
  color: #003149;
  font-size: 28px !important;
  font-weight: bold;
  font-family: "LeagueSpartan Bold" !important;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 25px;
  text-align: right;
}

.redes {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.redes i {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
  color: #ff8800;

  transition: all 200ms ease-in-out;
}

.redes i:hover {
  cursor: pointer;
  color: #222;
}
